<!--header-->
<div class="contact-ground">
    <div class="contact text-center ">
        <h3>Formulaire de declaration </h3>
        <div class="container">
            <p class="mt-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis ipsum reprehenderit doloremque mollitia.
            </p>
        </div>
    </div>
</div>
<!--End Header-->

<div class="container" style="margin-top: 6%;">
    <div class="row">
        <form>
            <div class="col-md-6 col-lg-6 col-sm-12"></div>
            <div class="col-md-6 col-lg-6 col-sm-12"></div>
        </form>
    </div>
</div>

