<div class="contact-ground">
    <div class="contact text-center ">
        <h3>Qui sommes-nous</h3>
        <div class="container">
            <p class="mt-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis ipsum reprehenderit doloremque mollitia.
            </p>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5" style="padding-top:100px;">
    <div class="row" style="background:; box-shadow:2px 2px 5px #eaeaea">
        <div class="col-lg-6 flex-center">
            <div class="mt-lg-5" style="font-size:20px;">
                <p class="pb-lg-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="" class="img-fluid">
        </div>
    </div>
</div>

<!--Services-->

