<footer class="footer">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-5 col-lg-5">
                <h2>About Us</h2>
                <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto asperiores saepe, accusantium modi molestias tempore odio, alias itaque consequatur laborum incidunt eius. Repudiandae.</p>
            </div>
            <div class="col-md-4 col-lg-4">
                <h2>Liens rapide</h2>
                <ul class="nav flex-column ">
                    <li class="nav-item">
                        <a class="nav-link light" href="#">Terme de licence</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link light" href="#">Charte graphique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link light" href="#">Historique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link light" href="#">Contactez-nous</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-3">
                <h2>Nous suivres</h2>
                <ul class="nav flex-column ">
                    <li class="nav-item">
                        <a class="nav-link light" href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>    Facebook
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link light" href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>    Twitter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link light" href="#">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>    Linkedin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr style="background: rgb(148, 148, 148);">
    </div>
</footer>
