<div class="mb-4" style="margin-top: 13%;">
    <h3 class="mb-4 text-black">Amortization Computation</h3>
    <p>Inscrivez vous sur le news letters pour recevoir les nouvelles informations concernant notre entreprise.</p>
</div>
<div class="mb-4">
    <ul class="list-unstyled">
        <li>Officia quaerat eaque neque</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipisicing elit</li>
    </ul>
</div>
<div style="margin-top: 15%;">
    <form >
        <div class="form-group d-flex align-items-center">
            <input type="text" class="form-control mr-2" placeholder="Enter your email">
            <input type="submit" class="btn btn-primary" value="Submit Email">
        </div>
    </form>
</div>
