<div class="font-background">
    <div class="container text-center masthead" style="padding-top: 11%;">
        <h1 class="font-weight-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <p class="text-muted fonta">
            Placeat sapiente iste ea quidem fugiat, cumque in voluptatem assumenda magni quis iusto beatae,
        </p>
        <div class="font-button mt-4">
            <button type="button" class="btn btn-outline-primary btn-lg">Payer ses impots</button>
            <button type="button" class="btn btn-outline-success btn-lg ml-4">Rendre la ville propres</button>
        </div>
    </div>
</div>

<!--content-->
<div class="container text-center" style="margin-top: 4%;">
    <h2 class="mb-3">Lorem ipsum dolor sit amet consectetur. </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto facere voluptatem fugit? Sed blanditiis, rem aliquam alias, cum non nisi omnis possimus quos qui eos, saepe voluptatum voluptas totam numquam.</p>
    <div class="row" style="margin-top: 4%;">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="card">

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="card">

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="card">

            </div>
        </div>
    </div>
</div>
<!--end content-->
<div class="container-fluid" style="margin-top: 8%; background: rgb(141, 141, 141); height: 396px;">
    <div class="row">
        <div class="col-md-7 col-lg-7 col-sm-6">
            <img src="/assets/images/nest-og.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-5 col-lg-5 col-sm-6">
            <div class="container" style="margin-top: 5%;">
                <h2 class="text-right mb-5">Lorem ipsum dolor sit amet consectetur. </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto facere voluptatem fugit? Sed blanditiis, rem aliquam alias, cum non nisi omni.</p>
            </div>
        </div>
    </div>
</div>
