<div class="container text-center masthead" style="margin-top: 10%;">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
    <p class="mt-5 mb-5 text-muted" style="font-size: 1.6rem;">
        Placeat sapiente iste ea quidem fugiat, cumque in voluptatem assumenda magni quis iusto beatae,
    </p>
    <div>
        <button type="button" class="btn btn-outline-primary btn-lg">Payer ses impots</button>
        <button type="button" class="btn btn-outline-success btn-lg ml-4">Rendre la ville propres</button>
    </div>
</div>
