.font-background{
    background: #C2CAD0;
    height:500px;
}

.fonta{
    font-size: 18px;
    margin-top: 4%;
}

img{
    margin-left: -2%;
}
.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
/****/
span{
    font-size:15px;
}
a{
  text-decoration:none;
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:30px 10px;
    margin:20px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}
/***/
@media screen and (max-width: 465px){
    .font-background{
        height:280px;
    }
    h1{
        font-size: 25px;
        margin-top: 15%;
    }
    p.fonta{
        font-size: 17px;
        top: 0;
        bottom: 0;
    }
    .font-button{
        display: none;
    }

}
