.font-background{
    background: rgb(233, 233, 233);
    height:490px;
}

.fonta{
    font-size: 25px;
    margin-top: 3%;
}
img{
    margin-left: -2%;
}

@media screen and (max-width: 465px){
    .font-background{
        height:280px;
    }
    h1{
        font-size: 25px;
        margin-top: 15%;
    }
    p.fonta{
        font-size: 17px;
        top: 0;
        bottom: 0;
    }
    .font-button{
        display: none;
    }

}
